<div class="container-fluid">
    <h1>Agregar Película</h1>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="http://localhost:3000/addform" method="post">
                <input type="text" class="input-form form-control" name="_id" required
                       placeholder="Id">
                <input type="text" class="input-form form-control" name="titulo" required
                       placeholder="Título">
                <input type="text" class="input-form form-control" name="anno" required
                       placeholder="Año">
                <input type="text" class="input-form form-control" name="genero" required
                       placeholder="Género">
                <input type="text" class="input-form form-control" name="duracion" required
                       placeholder="Duración">
                <textarea type="text" class="input-form form-control" name="sinopsis" required
                          placeholder="Sinopsis"></textarea>
                <input type="text" class="input-form form-control" name="director"
                       placeholder="Director">
                <input type="text" class="input-form form-control" name="reparto"
                       placeholder="Reparto">
                <div class="container-flex-center">
                    <button class="btn btn-danger"><a href="apiview" class="a-btn">Cancelar</a></button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
