.titulo {
    color: white !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 4em !important;
    text-decoration: none;
    margin: auto;
}

.titulo:hover {
    color: white !important;
}

nav {
    background-color: #95b8f6;
}

.nav-link {
    color: #003f8c;
    font-size: 1.25em;
}

.justify-container-center{
    display: flex;
    justify-content: center !important;
    align-content: center !important;
    flex-direction: row;
    padding-left: 45%;
}
