@import url('navbar.style.css');
@import url('forms.style.css');
@import url('apiview.style.css');
/*Estilos Generales*/
* {
  font-family: 'Poppins', sans-serif;
}

body {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title-nav {
  font-size: 4em;
  color: black;
  text-decoration: none;
  padding-left: 30%;
}

.title-nav:hover {
  color: black;
}

.container-header {
  background-color: rgba(142, 209, 252, 0.25);
  border: none;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.text-justify {
  text-align: justify !important;
}

.container-flex-center {
  display: flex !important;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.container-flex-end {
  display: flex !important;
  justify-content: flex-end;
  align-content: flex-end;
  flex-direction: row;
}

.container-flex-evenly {
  display: flex !important;
  justify-content: space-evenly !important;
  align-content: center;
  flex-direction: row;
}

div.col-lg-12 {
  margin: auto;
  width: 98%;
}

div.col-lg-10 {
  margin: auto;
  width: 80%;
  padding: 1rem;
}

div.col-lg-8 {
  margin: auto;
  width: 65%;
  padding: 1rem;
}

div.col-lg-6 {
  margin: auto;
  width: 48%;
  padding: 1rem;
}

div.col-lg-4 {
  margin: auto;
  width: 30%;
  padding: 1rem;
}

div.col-lg-3 {
  margin: auto;
  width: 23%;
  padding: 1rem;
}

div.col-lg-2 {
  margin: auto;
  width: 14%;
  padding: 1rem;
}

div.col-lg-1 {
  margin: auto;
  width: 8%;
  padding: 1rem;
}

